# Python Assignment_3

### Q1 : Create a list containing the Address of Fingertips.

In [2]:
add_list = [201, "Olive Arcade", "Chimanlal Girdharlal Rd", "opp. Samudra Complex", "Navrangpura", "Ahmedabad", "Gujarat",]
add_list

[201,
 'Olive Arcade',
 'Chimanlal Girdharlal Rd',
 'opp. Samudra Complex',
 'Navrangpura',
 'Ahmedabad',
 'Gujarat']

### Q2 : Insert ABCD at 5th place in the address.

In [6]:
add.insert(4,"ABCD")
add

[201,
 'Olive Arcade',
 'Chimanlal Girdharlal Rd',
 'opp. Samudra Complex',
 'ABCD',
 'Navrangpura',
 'Ahmedabad',
 'Gujarat']

### Q3 : create a list L1 containing XYZ, ABC, GHI and append it at the beginning of address list.

In [3]:
list_1 = ["XYZ", "ABC", "GHI"]
list_1.extend(add_list)
list_1

['XYZ',
 'ABC',
 'GHI',
 201,
 'Olive Arcade',
 'Chimanlal Girdharlal Rd',
 'opp. Samudra Complex',
 'Navrangpura',
 'Ahmedabad',
 'Gujarat']

### Q4 : Find the minimum value from the list containing the numbers 2.3, 4.445, 3, 5.33, 1.054, 2.5.

In [4]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
print(min(List))

1.054

### Q5 : Sort the given data structure (both tuple and list) in decending order containing values 2.3, 4.445, 3, 5.33, 1.054, 2.5.

In [9]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.sort(reverse=True)
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

In [13]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.sort()
print(List)
reversed_list = reversed(List)
print(list(reversed_list))

[1.054, 2.3, 2.5, 3, 4.445, 5.33]
[5.33, 4.445, 3, 2.5, 2.3, 1.054]

### Q6 : Create a list which contains the numbers 1,2,4,8,5,3,5,7,4,1,2,6,6,8,2,6. and now find the occurance of the 6 in the list.

In [14]:
List = [1,2,4,8,5,3,5,7,4,1,2,6,6,8,2,6]
List.count(6)

3

### Q7 : print the index of the first occurrence of number 5 in the above list.

In [15]:
List.index(5)

4

### Q8 : Sort the above list in ascending order.

In [16]:
List.sort()
List

[1, 1, 2, 2, 2, 3, 4, 4, 5, 5, 6, 6, 6, 7, 8, 8]

### Q9 : Create a tuple having values abc,bcd,cde,def and efg and convert it to List.

In [18]:
tuples = ("abc","bcd","cde","def","efg")
tuple_1 = list(tuples)
tuple_1

['abc', 'bcd', 'cde', 'def', 'efg']

### Q10 : Convert a set having values efg,def,cde,bcd and abc to list and sort the list in ascending order.

In [19]:
Set = {"efg","def","cde","bcd","abc"}
Set_1 = list(Set)
Set_1.sort()
Set_1

['abc', 'bcd', 'cde', 'def', 'efg']

### END ###