# Pandas_Assignment_5 String

In [2]:
import pandas as pd

In [99]:
df = pd.read_csv(r"E:\FingerTips\2.Python\Materials\Pandas_Assignment_5.csv",encoding='latin-1')

In [100]:
df

,FF,Title,DIR
0,2005,1990: Bronx Warriors,Enzo Castellari
1,2005,Creep,Christopher Smith
2,2005,Feast,John Gulager
3,2005,G.O.R.A.,ÌÐmer Faruk Sorak
4,2005,Hakugei: Legend of the Moby Dick,Osamu Dezaki
...,...,...,...
904,2017,See You Up There,Albert Dupontel
905,2017,Tabula Rasa,Jonas Govaerts & Kaat Beels / Malin-Sarah Gozin
906,2017,Wizard,Kagiso Lediga
907,2017,"Death of Stalin, The",Armando Iannucci
908,2017,Take It Out in Trade,Edward D. Wood Jr.

### 1) What are the datatypes of the column of the dataset.

In [5]:
df.dtypes

FF        int64
Title    object
DIR      object
dtype: object

### 2) Get the Basic Statistics of Dataset.

In [6]:
df.describe()

                FF
count   909.000000
mean   2011.656766
std       3.506274
min    2005.000000
25%    2009.000000
50%    2012.000000
75%    2015.000000
max    2017.000000

### 3) Calculate the Length of the string in Title.

In [13]:
len(df['Title'])

909

### 4) Calculate the Length of the DIR column in dataset

In [14]:
len(df['DIR'])

909

### 5) Check for the Datatype after checking the Length of the Title and DIR columns.

In [22]:
df.dtypes

FF        int64
Title     int64
DIR      object
dtype: object

### 6) Convert Title column back to Object format from Numeric.

In [23]:
df['Title'] = df['Title'].astype(object)

In [25]:
df.dtypes

FF        int64
Title    object
DIR      object
dtype: object

### 7) Convert DIR column back to Object format from Numeric.

In [26]:
df['DIR']=df['DIR'].astype(object)

In [27]:
df.dtypes

FF        int64
Title    object
DIR      object
dtype: object

### 8) Checking the Datatype after converting back to Object.

In [28]:
df.dtypes

FF        int64
Title    object
DIR      object
dtype: object

### 9) Convert the Director's name in Upper case.

In [34]:
df['DIR'].str.upper()

0                                      ENZO CASTELLARI
1                                    CHRISTOPHER SMITH
2                                         JOHN GULAGER
3                                    ÌÐMER FARUK SORAK
4                                         OSAMU DEZAKI
                            ...
904                                    ALBERT DUPONTEL
905    JONAS GOVAERTS & KAAT BEELS / MALIN-SARAH GOZIN
906                                      KAGISO LEDIGA
907                                   ARMANDO IANNUCCI
908                                 EDWARD D. WOOD JR.
Name: DIR, Length: 909, dtype: object

### 10) Replace the & in the DIR column with and.

In [35]:
df['DIR'].replace("&","and")

0                                      Enzo Castellari
1                                    Christopher Smith
2                                         John Gulager
3                                    ÌÐmer Faruk Sorak
4                                         Osamu Dezaki
                            ...
904                                    Albert Dupontel
905    Jonas Govaerts & Kaat Beels / Malin-Sarah Gozin
906                                      Kagiso Lediga
907                                   Armando Iannucci
908                                 Edward D. Wood Jr.
Name: DIR, Length: 909, dtype: object

### 11) Remove the white space from the Left side of the string for Director column.

In [40]:
df['DIR'].str.lstrip()

0                                      Enzo Castellari
1                                    Christopher Smith
2                                         John Gulager
3                                    ÌÐmer Faruk Sorak
4                                         Osamu Dezaki
                            ...
904                                    Albert Dupontel
905    Jonas Govaerts & Kaat Beels / Malin-Sarah Gozin
906                                      Kagiso Lediga
907                                   Armando Iannucci
908                                 Edward D. Wood Jr.
Name: DIR, Length: 909, dtype: object

### 12) Remove the white space from the right side of the string for Director column.

In [41]:
df['DIR'].str.rstrip()

0                                      Enzo Castellari
1                                    Christopher Smith
2                                         John Gulager
3                                    ÌÐmer Faruk Sorak
4                                         Osamu Dezaki
                            ...
904                                    Albert Dupontel
905    Jonas Govaerts & Kaat Beels / Malin-Sarah Gozin
906                                      Kagiso Lediga
907                                   Armando Iannucci
908                                 Edward D. Wood Jr.
Name: DIR, Length: 909, dtype: object

### 13) Show the name of director with minimum length.

In [48]:
df['DIR'].min()

'    Jaume BalaguerÌ_, Paco Plaza '

### 14) Show the name of director with maximum length.

In [49]:
df['DIR'].max()

'Ì÷ystein Karlsen'

### 15) Remove the white space from the Left side of the string for Title column.

In [103]:
df['Title'].str.lstrip()

0                  1990: Bronx Warriors
1                                 Creep
2                                 Feast
3                              G.O.R.A.
4      Hakugei: Legend of the Moby Dick
                     ...
904                    See You Up There
905                         Tabula Rasa
906                              Wizard
907                Death of Stalin, The
908                Take It Out in Trade
Name: Title, Length: 909, dtype: object

### 16) Remove the white space from the right side of the string for Title column.

In [104]:
df['Title'].str.rstrip()

0                  1990: Bronx Warriors
1                                 Creep
2                                 Feast
3                              G.O.R.A.
4      Hakugei: Legend of the Moby Dick
                     ...
904                    See You Up There
905                         Tabula Rasa
906                              Wizard
907                Death of Stalin, The
908                Take It Out in Trade
Name: Title, Length: 909, dtype: object

### 17) Show the title of movie with minimum length.

In [106]:
df.Title.min()

'1%'

### 18) Show the title of movie with maximum length.

In [107]:
df.Title.max()

'mon mon mon MONSTERS'

### 19) Concatenate Title and directors with a space in between.

In [73]:
df['Title'] = df['Title'].astype(str)

In [74]:
df['DIR'] = df['DIR'].astype(str)

In [85]:
df['Mixed'] = df['Title'] + " " + df['DIR']

In [105]:
df

,FF,Title,DIR
0,2005,1990: Bronx Warriors,Enzo Castellari
1,2005,Creep,Christopher Smith
2,2005,Feast,John Gulager
3,2005,G.O.R.A.,ÌÐmer Faruk Sorak
4,2005,Hakugei: Legend of the Moby Dick,Osamu Dezaki
...,...,...,...
904,2017,See You Up There,Albert Dupontel
905,2017,Tabula Rasa,Jonas Govaerts & Kaat Beels / Malin-Sarah Gozin
906,2017,Wizard,Kagiso Lediga
907,2017,"Death of Stalin, The",Armando Iannucci
908,2017,Take It Out in Trade,Edward D. Wood Jr.

### 20) Find the Hostel movie from the Title list.

In [88]:
df['Title'].str.find('Hostel')

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
904   -1
905   -1
906   -1
907   -1
908   -1
Name: Title, Length: 909, dtype: int64

### 21) Find the Ryan Schifrin from the Director's list.

In [92]:
df['DIR'].str.find('Ryan Schifrin')

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
904   -1
905   -1
906   -1
907   -1
908   -1
Name: DIR, Length: 909, dtype: int64

### 22) Replace the space in Title name with underscore.

In [101]:
df['Title'].str.replace(" ","_")

0                  1990:_Bronx_Warriors
1                                 Creep
2                                 Feast
3                              G.O.R.A.
4      Hakugei:_Legend_of_the_Moby_Dick
                     ...
904                    See_You_Up_There
905                         Tabula_Rasa
906                              Wizard
907                Death_of_Stalin,_The
908                Take_It_Out_in_Trade
Name: Title, Length: 909, dtype: object

### 23) Replace the space in Dir name with underscore

In [102]:
df['DIR'].str.replace(" ","_")

0                                      Enzo_Castellari
1                                    Christopher_Smith
2                                         John_Gulager
3                                    ÌÐmer_Faruk_Sorak
4                                         Osamu_Dezaki
                            ...
904                                    Albert_Dupontel
905    Jonas_Govaerts_&_Kaat_Beels_/_Malin-Sarah_Gozin
906                                      Kagiso_Lediga
907                                   Armando_Iannucci
908                                 Edward_D._Wood_Jr.
Name: DIR, Length: 909, dtype: object

### END ###