## CHAPTER_5 LIST

In [1]:
numbers = [1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

In [3]:
words=["word1","word2",2,5,6]
words

['word1', 'word2', 2, 5, 6]

In [7]:
mixed = [1,2,3,4,"word1","word2",4.6,7.0,None]
mixed
mixed[:5]
mixed[1] = 'two'
print(mixed)

[1, 'two', 3, 4, 'word1', 'word2', 4.6, 7.0, None]

### 1. Add Data To List

In [8]:
fruits = ['graps','mango']
fruits.append('apple')
print(fruits)

['graps', 'mango', 'apple']

In [10]:
fruits=[]
fruits.append('apple')
fruits.append('kiwi')
print(fruits)

['apple', 'kiwi']

In [11]:
# Insert Method

fruits1 = ['mango','apple']
fruits1.insert(1,"graps")
print(fruits1)

['mango', 'graps', 'apple']

In [13]:
# Concate Two Lists

fruits1 = ['mango','apple']
fruits2 = ['graps','kiwi']

fruits1 + fruits2

['mango', 'apple', 'graps', 'kiwi']

In [14]:
# Extend Method

fruits1 = ['mango','apple']
fruits2 = ['graps','kiwi']
fruits1.extend(fruits2)

print(fruits1)
print(fruits2)

['mango', 'apple', 'graps', 'kiwi']
['graps', 'kiwi']

In [15]:
fruits1 = ['mango','apple']
fruits2 = ['graps','kiwi']
fruits1.append(fruits2)

print(fruits1)
print(fruits2)

['mango', 'apple', ['graps', 'kiwi']]
['graps', 'kiwi']

### 2. Delete Data From List

In [18]:
# pop method

fruits = ['kiwi','banana','apple','mango','water melon']

print(fruits.pop())
print(fruits)

water melon
['kiwi', 'banana', 'apple', 'mango']

In [19]:
fruits = ['kiwi','banana','apple','mango','water melon']

fruits.pop(1)
fruits

['kiwi', 'apple', 'mango', 'water melon']

In [21]:
# del operator

fruits = ['kiwi','banana','apple','mango','water melon']

del fruits[1]
fruits

['kiwi', 'apple', 'mango', 'water melon']

In [22]:
# Remove Method

fruits = ['kiwi','banana','apple','mango','water melon']

fruits.remove("banana")
fruits

['kiwi', 'apple', 'mango', 'water melon']

### 3. IN KeyWord in List

In [1]:
fruits = ['kiwi','banana','apple','mango','water melon']

if "kiwi" in fruits:
    print("Yess Present")
else:
    print("Not Present")

Yess Present

### 4. Some More List Methods

In [2]:
# count method
fruits = ['apple','kiwi','banana','apple','mango','water melon']

fruits.count('apple')

2

In [5]:
# Sort Method

fruits = ['apple','kiwi','banana','apple','mango','water melon']
fruits.sort()
print(fruits)

numbers = [1,5,3,4,2]
numbers.sort()
print(numbers)

['apple', 'apple', 'banana', 'kiwi', 'mango', 'water melon']
[1, 2, 3, 4, 5]

In [6]:
# Sorted Function

numbers = [1,5,3,4,2]
print(sorted(numbers))

[1, 2, 3, 4, 5]

In [8]:
# Clear Method

numbers = [1,5,3,4,2]
numbers.clear()
print(numbers)

[]

In [10]:
# Copy Method

numbers = [1,5,3,4,2]
numbers_copy=numbers.copy()
print(numbers_copy)
print(numbers)

[1, 5, 3, 4, 2]
[1, 5, 3, 4, 2]

### 5. Is vs Equals (is vs =)

In [13]:

fruits = ['apple','kiwi','banana']
fruit1 = ['apple','kiwi','banana']

fruits2 = ['apple','mango','water melon']

print(fruits==fruits2)

False

In [15]:
fruits = ['apple','kiwi','banana']
fruit1 = ['apple','kiwi','banana']
print(fruits==fruit1)

True

In [16]:

fruits = ['apple','kiwi','banana']
fruit1 = ['apple','kiwi','banana']

fruits2 = ['apple','mango','water melon']

print(fruits is fruits2)

False

In [17]:
fruits = ['apple','kiwi','banana']
fruit1 = ['apple','kiwi','banana']
print(fruits is fruit1)

False

### 6. Join And Split Method

In [22]:
# Split Method Converts String To List

user_info = "Kathan 22".split(" ")
print(user_info)

name,age = "Kathan,22".split(",")
print(name)
print(age)

['Kathan', '22']
Kathan
22

In [1]:
# Join Method Converts List To String 

user_info = ["Kathan","22"]
print(','.join(user_info))

Kathan,22

### 7. Looping in List

In [4]:
fruits = ['apple','kiwi','banana','apple','mango','water melon']

for fruit in fruits:
    print(fruit)

apple
kiwi
banana
apple
mango
water melon

In [5]:
i=0
while i<len(fruits):
    print(fruits[i])
    i+=1

apple
kiwi
banana
apple
mango
water melon

### 8. List Inside List

In [7]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

matrix[0]
matrix[1]

[4, 5, 6]

In [11]:
for i in matrix:
     print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [12]:
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [14]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

matrix[1][0]

4

### 9. Generate Lists With Range Function

In [15]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 10. Index Method

In [20]:
numbers=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2]

numbers.index(2)

1

In [21]:
numbers=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2]

numbers.index(2,3)

10

NOTE:
#### 1.LIST VS STRING
#### 2.STRINGS ARE IMMUTABLE
#### 3.LIST ARE MUTABLE

## CHAPTER_6 Tuples

- No Append
- No Insert
- No Pop
- No Remove

## 1.Methods
1. Count
2. Index
3. Length
4. Slicing

In [23]:
mixed = (1,2,3.4,6.5)

print(type(mixed))
print(len(mixed))
print(mixed.count(2))
print(mixed.index(3.4))
print(mixed[0:2])

<class 'tuple'>
4
1
2
(1, 2)

## 2. Looping In Tuples

In [24]:
mixed = (1,2,3.4,6.5)

for i in mixed:
    print(i)

1
2
3.4
6.5

## 3. Tuple With One Element

In [27]:
num = (1)
nums = (1,)

print(type(num))
print(type(nums))

<class 'int'>
<class 'tuple'>

### 4. Tuple Without Parenthesis

In [28]:
guitars = 'yamaha','taylor','baton'

print(type(guitars))

<class 'tuple'>

### 5. Tuple Unpacking

In [29]:
names = ('kathan','vinay','diwakar')

name1 , name2 , name3 = names

print(name1)
print(name2)
print(name3)

kathan
vinay
diwakar

### 6. List Inside Tuples

In [31]:
favourites = ('sadguru',['gour gopal das','sonu sharma'])

favourites[1].pop()
favourites[1].append('sandeep maheshwari')
print(favourites)

('sadguru', ['gour gopal das', 'sandeep maheshwari'])

### 7. Some More Operators

In [32]:
mixed = (1,2,3.4,6.5)

print(min(mixed))
print(max(mixed))
print(sum(mixed))

1
6.5
12.9

### 8. Function Returning Two Values

In [33]:
def func(int1,int2):
    add = int1+int2
    multiply = int1* int2
    return add,multiply

print(func(5,4))

(9, 20)

In [34]:
def func(int1,int2):
    add = int1+int2
    multiply = int1* int2
    return add,multiply

add,multiply = func(5,4)
print(add)
print(multiply)

9
20

### 9. More About Tuples , List , Str

In [46]:
nums = tuple(range(1,11))
print(nums)
print(type(nums))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [45]:
nums = list((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
nums
print(type(nums))

<class 'list'>

In [44]:
nums = str((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
print(nums)

print(type(nums))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'str'>

- TUPLE IS A DATA STRUCTURE
- TUPLES CAN STORE ANY DATA TYPE
- TUPLES ARE FASTER THAN LIST
- TUPLES ARE IMMUTABLE,ONCE IT CREATED WE CAN'T UPDATE IT
- DATA INSIDE TUPLES DENOTED BY ()

## CHAPTER_7 Dictionary

### 1. Methods To Create Dictionaries

In [49]:
user = {'name':'kathan',
       'age':22}

print(user)
print(type(user))

{'name': 'kathan', 'age': 22}
<class 'dict'>

In [50]:
# Second Method

user = dict(name='KATHAN',age=22)
print(user)

{'name': 'KATHAN', 'age': 22}

### 2. Access Data From Dict Using Keys

In [52]:
user = dict(name='KATHAN',age=22)
print(user['name'])
print(user['age'])

KATHAN
22

### 3. How To Add Data To Empty Dictionary

In [2]:
user_info = {}

user_info['name'] = 'kathan'
user_info['age'] = 22
user_info['hobby']='cricket','football'
print(user_info)

{'name': 'kathan', 'age': 22, 'hobby': ('cricket', 'football')}

### 4. Looping And In Keyword

In [68]:
# Check If Key Exist In Dictionary

user_info
if 'name' in user_info:
    print('present')
else:
    print('Absent')

present

In [69]:
# Check If Values Exist In Dictionary

user_info
if 'kathan' in user_info.values():
    print('present')
else:
    print('Absent')

present

In [74]:
# Loops In dictionary

user_info

for i in user_info:
    print(i)

name
age
hobby

In [75]:
for i in user_info.values():
    print(i)

kathan
22
('cricket', 'football')

In [77]:
# Values Method

user_info_values = user_info.values()
print(user_info_values)

dict_values(['kathan', 22, ('cricket', 'football')])

In [80]:
# Keys Method

user_info_keys = user_info.keys()
print(user_info_keys)

dict_keys(['name', 'age', 'hobby'])

In [81]:
# Items Method

user_items = user_info.items()
user_items

dict_items([('name', 'kathan'), ('age', 22), ('hobby', ('cricket', 'football'))])

In [82]:
for key,value in user_info.items():
    print(f"your key is {key} your value is {value} ")

your key is name your value is kathan
your key is age your value is 22
your key is hobby your value is ('cricket', 'football')

In [83]:
for i,j in user_info.items():
    print(f"your key is {i} your value is {j} ")

your key is name your value is kathan
your key is age your value is 22
your key is hobby your value is ('cricket', 'football')

In [84]:
for i in user_info.items():
    print(i)

('name', 'kathan')
('age', 22)
('hobby', ('cricket', 'football'))

### 5. Add And Delete Data From Dictionary

In [5]:
user_info = {}

user_info['name'] = 'kathan'
user_info['age'] = 22
user_info['hobby']='cricket','football'
print(user_info)

{'name': 'kathan', 'age': 22, 'hobby': ('cricket', 'football')}

In [12]:
# Add Data

user_info['fav movie'] = ['saaho','kgf']
user_info

{'name': 'kathan',
 'age': 22,
 'hobby': ('cricket', 'football'),
 'fav movie': ['saaho', 'kgf']}

In [13]:
# Pop Method

popped_item=user_info.pop('fav movie')
print(f"your popped item is {popped_item}")
print(user_info)

your popped item is ['saaho', 'kgf']
{'name': 'kathan', 'age': 22, 'hobby': ('cricket', 'football')}

### 6. Update Dictionary

In [14]:
user_info

more_info = {'state':'gujarat','movie':['saaho','kgf2']}
more_info

{'state': 'gujarat', 'movie': ['saaho', 'kgf2']}

In [15]:
user_info.update(more_info)

print(user_info)

{'name': 'kathan', 'age': 22, 'hobby': ('cricket', 'football'), 'state': 'gujarat', 'movie': ['saaho', 'kgf2']}

### 7. FromKeys Method

In [16]:
d = dict.fromkeys(['name','height','age'],'unknown')

In [17]:
d

{'name': 'unknown', 'height': 'unknown', 'age': 'unknown'}

In [18]:
d1= dict.fromkeys(range(1,11),'null')

In [19]:
d1

{1: 'null',
 2: 'null',
 3: 'null',
 4: 'null',
 5: 'null',
 6: 'null',
 7: 'null',
 8: 'null',
 9: 'null',
 10: 'null'}

### 8. Get Method

In [20]:
user_info

{'name': 'kathan',
 'age': 22,
 'hobby': ('cricket', 'football'),
 'state': 'gujarat',
 'movie': ['saaho', 'kgf2']}

In [21]:
print(user_info.get('age'))

22

In [22]:
print(user_info.get('ages'))

None

In [23]:
user_info['ages'] # To handle this error we use get method

KeyError: 'ages'

### 9. Copy Method

In [24]:
duplicate = user_info.copy()
duplicate

{'name': 'kathan',
 'age': 22,
 'hobby': ('cricket', 'football'),
 'state': 'gujarat',
 'movie': ['saaho', 'kgf2']}

### 10. Clear Method

In [25]:
duplicate.clear()

In [26]:
duplicate

{}

### 11. More About Get Method

In [27]:
user = {'name':'kathan','age':22}

In [28]:
user

{'name': 'kathan', 'age': 22}

In [29]:
user.get('name')

'kathan'

In [31]:
print(user.get('names'))

None

In [33]:
print(user.get('names','not found'))

not found

In [59]:
# DICTIONARIES IS A UNORDERD COLLECTION OF DATA IN KEY : VALUE PAIR
# DICTIONARIES IS DENOTED BY {}
# THERE IS NO SUCH THING CALLED INDEXING IN DISC...
# WE CAN STORE ANY DATATYPE IN DISC...

## CHAPTER_8 Set

In [34]:
# Unordered Collection Of Unique Items

s = {1,2,3,4,5,5,5}
print(s)

{1, 2, 3, 4, 5}

In [36]:
l = [1,2,3,4,5,5,6,6,7,7,7]

# remove duplicate

s2 = set(l)
s2

{1, 2, 3, 4, 5, 6, 7}

In [38]:
s2=list(s2)
s2

[1, 2, 3, 4, 5, 6, 7]

In [43]:
# Add Items

s.add(8)
s
s.add(8)
s

{1, 2, 3, 4, 5, 8}

In [44]:
# remove method

s.remove(3)
s

{1, 2, 4, 5, 8}

In [45]:
s.remove(3)

KeyError: 3

In [47]:
# if we found error in remove method we use 
# discard Method

s.discard(3)
s

{1, 2, 4, 5, 8}

In [48]:
# copy method

s1 = s.copy()
s1

{1, 2, 4, 5, 8}

In [50]:
# clear Method

s1.clear()
s1

set()

In [51]:
# In keyword And For Loop

s = {'a','b','c'}

if 'a' in s:
    print('present')
else:
    print('not present')

present

In [52]:
s

for i in s:
    print(i)

b
a
c

In [53]:
l = [1,2,3,4,4,5,5,5,6]

print(set(l))

{1, 2, 3, 4, 5, 6}

### Set Maths

In [54]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [55]:
# Union

s1 | s2

{1, 2, 3, 4, 5, 6}

In [56]:
# Intersection

s1 & s2

{3, 4}

In [ ]:
# SET DATA TYPE = UNORDERED COLLECTION OF UNIQUE ITEMS
# UNORDERED = WE CAN NOT USE INDEXING
# UNIQUE ITEMS IS MOST IMPORTANT
# SET DATA TYPE DENOTAED BY {}
# WE CAN NOT STORE TUPLES , DICT.. ,LIST.

# END