# PYTHON PROGRAMMING

## CHAPTER_1 OVERVIEW

### 1.PRINT FUNCTION

In [2]:
print ("hello world")
print('hello world')

hello world
hello world

In [4]:
print("hello 'world' world")
print('hello "world" world')

hello 'world' world
hello "world" world

In [ ]:
print("hello "world" world")
print('hello 'world' world') # THIS WILL THROUGH AN SYNTAX ERROR

### 2. ESCAPE SEQUENCE

In [9]:
print("hello \"world\" world")
print('I\'m Kathan')

hello "world" world
I'm Kathan

In [10]:
print("line A")
print("line B")

line A
line B

In [13]:
print("line A \n line B")

line A
 line B

In [14]:
print("patel\tkathan") # \t for tab

patel	kathan

In [15]:
print(" this is \\ backslash")

 this is \ backslash

In [16]:
print(" this is \\\\ double backslash")

 this is \\ double backslash

Escape Sequence as Normal Text

In [19]:
print("line A \\n line b")

line A \n line b

### 3. Raw Strings

In [21]:
print(r"line A \n line b")

line A \n line b

## CHAPTER_2 STRINGS

### 1. String Concatenation

In [24]:
first_name = "kathan"
last_name = "patel"
full_name = first_name + " " +last_name
print(full_name)

kathan patel

In [ ]:
print(first_name + 3) # str + int error
print(first_name + str(3))# str + str error resolved
print(first_name + "3") # str + str error resolved

In [25]:
print(first_name * 3)

kathankathankathan

### 2. User Input

In [30]:
name = input("Type your name buddy ")
print("hello" + " " +name)

Type your name buddy KATHAN
hello KATHAN

In [36]:
age = input("Enter Your Age ")
print("your age is" + " "+ age)

Enter Your Age 22
your age is 22

### 3. int function

In [37]:
no_1 = input("enter first number")
no_2 = input("enter second number")
total = no_1 + no_2
print(total) # wrong output

enter first number2
enter second number2
22

In [42]:
no_1 = int(input("enter first number"))
no_2 = int(input("enter second number"))
total = no_1 + no_2
print(total) # right output

enter first number2
enter second number2
4

In [44]:
no_1 = int(input("enter first number"))
no_2 = int(input("enter second number"))
total = no_1 + no_2
print("your total is " + str(total))

enter first number2
enter second number2
your total is 4

In [46]:
no_1 = int(input("enter first number "))
no_2 = int(input("enter second number "))
total = no_1 + no_2
print("your total is ",total)

enter first number 2
enter second number 2
your total is  4

### 4. Variables

In [50]:
name , age = "kathan",22

print(name)
print(age)
print("hello" + name , "your age is" + str(age))

kathan
22
hellokathan your age is22

### 5. More Than One Input In One Line

In [52]:
name, age = input("enter your name and age : ").split(",")
print(name)
print(age)

enter your name and age : kathaniii,24
kathaniii
24

### 6.String Formatting

In [56]:
name = "kathan"
age=22
# print("hello" + name , "your age is" + str(age))
print ("hello {} your age is {}".format(name,age))

hello kathan your age is 22

In [57]:
name = "kathan"
age=25

print(f"hello {name} your age is {age}")

hello kathan your age is 25

In [58]:
name = "kathan"
age=22
print ("hello {} your age is {}".format(name,age+2))

hello kathan your age is 24

In [59]:
name = "kathan"
age=25

print(f"hello {name} your age is {age-1}") # we can also do some calculations

hello kathan your age is 24

### 7. String Indexing and Slicing

In [66]:
language = "python programming"

print(language[2])
print(language[:4])
print(language[4:])
print(language[-1])
print(language[::-1])

t
pyth
on programming
g
gnimmargorp nohtyp

### 8. Step Argument

In [74]:
language = "python programming"

print(language[0:5:2])
print(language[0::2])
print(language[::2])
print(language[-1::-1])
print(language[::-1])

pto
pto rgamn
pto rgamn
gnimmargorp nohtyp
gnimmargorp nohtyp

### 9. String Methods

1. len()
2. lower()
3. upper()
4. title()
5. count()

In [82]:
language = "python programming"

print(len(language))
print(language.lower())
print(language.upper())
print(language.title())
print(language.count('m'))

18
python programming
PYTHON PROGRAMMING
Python Programming
2

### 10. Strip Method

In [84]:
name = "    kathan    "
dots = ".........."

print(name + dots)

    kathan    ..........

In [85]:
print(name.lstrip() + dots)

kathan    ..........

In [86]:
print(name.rstrip() + dots)

    kathan..........

In [87]:
print(name.strip() + dots)

kathan..........

In [89]:
print(name.replace(" ","") + dots) # we simply replace the space with non space argument

kathan..........

### 11. Replace And Find Method

In [90]:
string = "She is beautiful and also a good dancer"
print(string.replace(" ","_"))

She_is_beautiful_and_also_a_good_dancer

In [91]:
string = "She is beautiful and also a good dancer"
print(string.replace("is","was"))

She was beautiful and also a good dancer

In [92]:
string = "She is beautiful and also a good dancer"
print(string.find("is"))

4

In [93]:
string = "She is beautiful is and also a good dancer"
print(string.find("is",5))

17

In [94]:
string = "She is beautiful is and also a good dancer"
is_po1 = string.find("is")
is_po2 = string.find("is",is_po1+1)
print(is_po2)

17

### 12. Center Method

In [96]:
name = "kathan"

print(name.center(10,"*"))

**kathan**

In [103]:
name = input("enter your name: ")
print(name.center(len(name)+8 , "*"))

enter your name: kathan
****kathan****

NOTE : STRINGS ARE IMMUTRABLE IN PYTHON

In [ ]:
CHAPTER_3